@import './../css/cssvars/admin.colors.scss';

.admin-main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 99999;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    background-color: $theme-admin-side-bg;

    #admin-sidebar-menu {
        list-style:none;
        padding: 0;

        li {
            a {
                display: flex;
                align-items: center;
                justify-content: start;
                color: $theme-admin-side-text !important;
                text-decoration: none;

                .admin-menu-icon {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2rem;
                    color: $theme-admin-side-text;

                    i {
                        color: $theme-admin-side-text-icon;
                    }
                }

                &.router-link-active,
                &:hover {
                    background-color: $theme-admin-side-hover;
                }
                &.active {
                    background-color: $theme-admin-children;
                }
            }
            .backdrop {
                background: transparent;
            }
            .children {
                min-width: 50px;
                position: absolute;
                height: 100%;
                background: $theme-admin-children;
                top: 0;
                left: 230px;
                display: none;
                z-index: 99999;

                &.active {
                    display: flex;
                }

                .children-col {
                    min-width: 230px;
                    padding: 65px 15px 15px 15px;

                    ul {
                        list-style: none;
                        padding: 0;

                        .children-link {
                            .title {
                                color: $theme-admin-side-text-icon;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                            a {
                                padding: 5px 15px;
                                margin: 0px -15px;
                            }
                        }
                    }
                }
            }
        }
    }
}