@import "./../../../../cssvars/color.scss";

.DefaultHeader{
    .header-container {
        background: $theme-main;
        box-shadow: 0 0 8px rgba(201, 201, 201, 0.75);

        .header-main {
            padding: 10px 0;

            .headers-items {
                height: 45px;

                .nav-menu {
                    border: 0;
                    height: 40px;
                    width: 40px;
                    padding: 0;
                    text-align: left;
                    font-size: 1.6rem;
                    color: $font-main-color;
                    background: transparent;

                    &.in-right {
                        font-size: 1.2rem;
                    }

                    &.cart {
                        position: relative;
                        .cart-badge {
                            border-radius: 7.5px;
                            background: #f14e0d;
                            position: absolute;
                            padding: 2px 5px 0px 5px;
                            line-height: 0.625rem;
                            font-size: 0.625rem;
                            color: #fff;
                            min-width: 15px;
                            height: 15px;
                            right: 10px;
                            top: 0px;
                        }
                    }
                }

                .logo-m {
                    height: 35px;
                    width: calc(100% - 120px);
                    padding: 0px 20px;

                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
    }
}