<div class="DefaultHeader">
	<div class="d-md-none header-container">
		<div class="header-main">
			<div class="container">
				<div class="d-flex headers-items align-items-center">
					<button class="nav-menu">
						<i class="fas fa-bars"></i>
					</button>
					<div class="logo-m text-center">
						<img src="./../../../../images/logo-m.png">
					</div>
					<button class="nav-menu text-right in-right">
						<i class="fas fa-search"></i>
					</button>
					<button class="nav-menu text-right in-right cart">
						<div class="cart-badge">300</div>
						<i class="fas fa-shopping-cart"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>