//theme colors side menu
$theme-main: #222d32;
$theme-main-hover: #1e282c;

$theme-admin-side-bg: #222d32;
$theme-admin-side-hover: #1e282c;
$theme-admin-side-text: #b8c7ce;
$theme-admin-side-text-icon: #cce1ea;
$theme-admin-children: #1a2226;

