//theme colors side menu
$theme-main: #fecf00;
$theme-main-hover: #f5ce1f;

$theme-admin-side-bg: #222d32;
$theme-admin-side-hover: #1e282c;
$theme-admin-side-text: #b8c7ce;
$theme-admin-children: #1a2226;

