// font colors
$font-main-color: #333e48;
$font-white: #ffffff;
$font-a-hover: #000000;
$font-gray: rgba(51, 62, 72, 0.6);

//theme colors
$theme-main: #fecf00;
$theme-main-hover: #f5ce1f;
$theme-nav-bg: #ffffff;
$theme-cart-badge: #f14e0d;
$theme-border-color: rgba(51, 62, 72, 0.1);